@charset "UTF-8";
/* ••••••••••••••••••••••••••••••••
© 2018-now Nedislav Kamburov
All rights reserved
www.nedkamburov.com
•••••••••••••••••••••••••••••••• */

// General
// --------------------------------
//TODO: Before live, check how the foundry wants the type to be embedded
// @font-face {
// }

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'GT-America-Extended-Black';
  src: url(../fonts/GT-America-Extended-Black.woff) format('woff'),
    url(../fonts/GT-America-Extended-Black.otf) format('opentype');
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'GT-Super-Regular';
  src: url(../fonts/GTSuperText-Regular.woff) format('woff'),
    url(../fonts/GTSuperText-Regular.otf) format('opentype');
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'GT-Super-Italic';
  src: url(../fonts/GTSuperText-RegularItalic.woff) format('woff'),
    url(../fonts/GTSuperText-RegularItalic.otf) format('opentype');
}

// Variables
// --------------------------------
$background-color: #fff;
$color: #0f0f0f;
$link-color: #ffbb00;

$font-size: 2.8rem;
$chapter-title-size: $font-size * 4;
$line-height: 1.5;

$gutter-v: $font-size * $line-height * 1.4;
$gutter-h: $font-size * $line-height;
$gutter-thin-h: $gutter-h * 0.5;
$gutter-thin-v: $gutter-v * 0.4;

$duration: 0.8s;
// $easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing: ease-out;

// Mixins
// --------------------------------
// @include vendor-prefix-attribute(attribute, value);
@mixin vendor-prefix-attribute($attribute, $value) {
  -ms-#{$attribute}: $value;
  -o-#{$attribute}: $value;
  -moz-#{$attribute}: $value;
  -webkit-#{$attribute}: $value;
  #{$attribute}: $value;
}

// @include vendor-prefix-value(attribute, value);
@mixin vendor-prefix-value($attribute, $value) {
  #{$attribute}: -ms-#{$value};
  #{$attribute}: -o-#{$value};
  #{$attribute}: -moz-#{$value};
  #{$attribute}: -webkit-#{$value};
  #{$attribute}: $value;
}

html {
  width: 100%;
  // height: 100%;

  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;

  font-family: 'GT-Super-Regular', Times, 'Times New Roman', serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  background-color: $background-color;
  overflow-x: hidden;
}

a {
  // color: $link-color;
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;

  .chapter-title & {
    text-decoration: none;
  }
}
a:focus {
  text-decoration: none;
}

input,
button,
select,
textarea {
  @include vendor-prefix-attribute(text-size-adjust, none);
  @include vendor-prefix-attribute(border-radius, 0);
  @include vendor-prefix-attribute(appearance, none);
}

.wrapper {
  margin: auto;
  left: 0;
  right: 0;
  // padding: $gutter-h $gutter-v;
  p,
  h3,
  h4,
  li,
  nav {
    margin: auto;
    padding-left: $gutter-v;
    padding-right: $gutter-v;
    max-width: 900px;
  }

  nav {
    h1 {
      font-size: 2em;
    }
  }

  .intro {
    position: relative;
    width: 100%;
    height: 100vh;
    vertical-align: top;

    .title {
      text-align: center;
      font-family: 'GT-America-Extended-Black', 'Arial Black', Helvetica,
        sans-serif;
    }
    .thesis-title {
      position: absolute;
      top: -7.6vw;
      left: -0.6%;
      right: 0;

      font-size: 21vw;
      letter-spacing: -1vw;
      -webkit-text-stroke: 3px #000;
      background-image: url(../images/pattern1.jpg);
      background-size: 100%;

      /* Color fallback */
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .thesis-subtitle {
      position: absolute;
      top: 18.5vw;
      left: -1vw;
      text-align: left;

      // font-family: 'GT-Super-Regular';
      font-size: 2vw;
      color: $background-color;
      mix-blend-mode: exclusion;
    }

    .videoWrapper {
      width: 100vw;
      height: auto;
      // padding-bottom: 20%; /* 16:9 */ //TODO: is it a hack?
      background-color: $color;
    }
  }

  .menu {
    position: relative;
    padding: $gutter-h 0;

    h3 {
      padding-left: 0;
      text-transform: uppercase;
    }

    z-index: 9999;

    .chapters-list {
      position: absolute;
      display: none;
      padding: $gutter-thin-h 0;
      width: 100%;

      background-color: $color;
      color: $background-color;
      border: 1px solid $color;
      box-sizing: border-box;

      li {
        padding-left: $gutter-thin-v;
      }

      li:hover {
        background-color: $background-color;
        color: $color;
      }

      a:visited,
      a:link {
        color: inherit;
        text-decoration: none;
      }
      a:hover {
        cursor: pointer;
      }
    }
  }

  .menu:hover .chapters-list {
    display: block;
  }

  .container {
    overflow-x: hidden;

    .chapter {
      .chapter-title {
        margin-bottom: $gutter-h;

        font-family: 'GT-America-Extended-Black';
        font-size: 11vw;
        line-height: $line-height * 0.66;
        text-transform: uppercase;

        @media only screen and (min-width: 900px) {
          font-size: $chapter-title-size;
        }

        a {
          /* Color fallback */
          color: $color;
          background-clip: text;
          letter-spacing: -0.03em;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 3px #000;
          background-size: 100%;
        }
        @for $i from 0 through 12 {
          #chapter#{$i} {
            background-image: url(../images/pattern#{$i}.jpg);
          }
        }
      }

      .imageWrapper {
        padding-left: $gutter-v;
        padding-right: $gutter-v;
        margin: auto;
        max-width: 900px;

        // &.reference {
        //   width: 38%;
        //   border: 1px solid rgba(255, 0, 0, 1);
        //   // display: inline-block;1
        //   display: inline-block;
        // }
      }

      .videoWrapper {
        position: relative;
        width: 100vw;
        height: auto;

        padding-bottom: 70%; /* 16:9 */ //TODO: is it a hack?
        background-color: $color;
        // opacity: 0.5;
      }

      .quote {
        margin: $gutter-h 0;
        // font-style: ;
        font-family: 'GT-Super-Italic', italic;
      }
    }

    #return-btn {
      position: fixed;
      padding: $gutter-h $gutter-v;
      right: 0;
      bottom: 0;

      font-size: $font-size * 2;
      opacity: 0;
      transition: opacity 0.2s $easing;
    }
  }

  // General styling for the container

  img {
    width: 100%;
    background-color: $color;
  }

  figure {
    padding-bottom: $gutter-h;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: $color;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: $color;
  }

  span {
    color: $link-color;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  p {
    text-indent: $gutter-v * 2; //TODO: set
    &:first-of-type {
      //TODO: add exception for paragraph after big quotes
      text-indent: 0;
    }
  }

  .quote + p,
  figure + p {
    text-indent: 0;
  }
}

//TODO: Responsiveness
@media (max-width: 480px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  html {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 10px;
  }
}
