@charset "UTF-8";
/* ••••••••••••••••••••••••••••••••
© 2018-now Nedislav Kamburov
All rights reserved
www.nedkamburov.com
•••••••••••••••••••••••••••••••• */
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'GT-America';
  src: url(../fonts/GT-America-Regular.woff) format("woff"), url(../fonts/GT-America-Regular.otf) format("opentype");
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'GT-America-Medium';
  src: url(../fonts/GT-America-Medium.woff) format("woff"), url(../fonts/GT-America-Medium.otf) format("opentype");
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: 'GT-America', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  color: #0f0f0f;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

input,
button,
select,
textarea {
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  border-radius: 0;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

nav h1 {
  font-size: 2em;
}

.wrapper {
  margin: auto;
  left: 0;
  right: 0;
}

.wrapper p,
.wrapper h3,
.wrapper h4,
.wrapper .chapter-body li,
.wrapper nav {
  margin: auto;
  padding-left: 3.92rem;
  padding-right: 3.92rem;
  max-width: 900px;
}

.wrapper .intro {
  position: relative;
  width: 100%;
  height: 100vh;
  vertical-align: top;
}

.wrapper .intro .title {
  text-align: center;
  font-family: 'GT-America-Medium', Helvetica, Arial, sans-serif;
}

.wrapper .intro .thesis-title {
  position: absolute;
  top: -9vw;
  left: -0.6%;
  right: 0;
  font-size: 25vw;
  letter-spacing: -1vw;
  -webkit-text-stroke: 2px #000;
  background-image: url(../images/versace.png);
  background-size: 100%;
  /* Color fallback */
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper .intro .thesis-subtitle {
  font-size: 2vw;
  position: absolute;
  top: 19vw;
}

.wrapper .intro .videoWrapper {
  width: 100vw;
  height: auto;
  background-color: #0f0f0f;
}

.wrapper .menu {
  padding-bottom: 2.8rem;
  padding-left: 3.92rem;
  padding-right: 3.92rem;
}

.wrapper .menu .chapters-list li {
  display: inline-block;
  margin-right: 1em;
}

.wrapper .menu .chapters-list li:last-child {
  margin-right: 0;
}

.wrapper .container {
  overflow-x: hidden;
}

.wrapper .container .chapter .chapter-title {
  margin-top: 2.8rem;
  margin-bottom: 1.4rem;
  font-size: 12vw;
  line-height: 0.924;
  text-transform: uppercase;
}

@media only screen and (min-width: 900px) {
  .wrapper .container .chapter .chapter-title {
    font-size: 12rem;
  }
}

.wrapper .container .chapter .imageWrapper {
  padding-left: 3.92rem;
  padding-right: 3.92rem;
  margin: auto;
  max-width: 900px;
}

.wrapper .container .chapter .videoWrapper {
  position: relative;
  width: 100vw;
  height: auto;
  padding-bottom: 70%;
  /* 16:9 */
  background-color: #0f0f0f;
}

.wrapper .container #return-btn {
  position: fixed;
  padding: 2.8rem 3.92rem;
  right: 0;
  bottom: 0;
  font-size: 4rem;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.wrapper img {
  width: 100%;
  background-color: #0f0f0f;
}

.wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
}

.wrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0f0f0f;
}

.wrapper span {
  color: #ffbb00;
}

.wrapper span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wrapper p {
  text-indent: 3.92rem;
}

.wrapper p:first-of-type {
  text-indent: 0;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 6px;
  }
}
