@charset "UTF-8";
/* ••••••••••••••••••••••••••••••••
© 2018-now Nedislav Kamburov
All rights reserved
www.nedkamburov.com
•••••••••••••••••••••••••••••••• */

// General
// --------------------------------
//TODO: Before live, check how the foundry wants the type to be embedded
// @font-face {
// }

@font-face {
  font-style: normal;
  font-weight: bold;
  font-family: 'GT-America-Extended-Black';
  src: url(../fonts/GT-America-Extended-Black.woff) format('woff'),
    url(../fonts/GT-America-Extended-Black.otf) format('opentype');
}

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: 'GT-Super-Regular';
  src: url(../fonts/GTSuperText-Regular.woff) format('woff'),
    url(../fonts/GTSuperText-Regular.otf) format('opentype');
}

@font-face {
  font-style: italic;
  font-weight: normal;
  font-family: 'GT-Super-Italic';
  src: url(../fonts/GTSuperText-RegularItalic.woff) format('woff'),
    url(../fonts/GTSuperText-RegularItalic.otf) format('opentype');
}

// Variables
// --------------------------------
$background-color: #fff;
$color: #0f0f0f;
$link-color: #ffbb00;

$font-size: 2.5rem;
$chapter-title-size: $font-size * 4;
$line-height: 1.5;

$gutter-v: $font-size * $line-height * 1.4;
$gutter-h: $font-size * $line-height;
$gutter-thin-h: $gutter-h * 0.5;
$gutter-thin-v: $gutter-v * 0.4;

$indent: $gutter-v;
$duration: 0.8s;
// $easing: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easing: ease-out;

// Mixins
// --------------------------------
// @include vendor-prefix-attribute(attribute, value);
@mixin vendor-prefix-attribute($attribute, $value) {
  -ms-#{$attribute}: $value;
  -o-#{$attribute}: $value;
  -moz-#{$attribute}: $value;
  -webkit-#{$attribute}: $value;
  #{$attribute}: $value;
}

// @include vendor-prefix-value(attribute, value);
@mixin vendor-prefix-value($attribute, $value) {
  #{$attribute}: -ms-#{$value};
  #{$attribute}: -o-#{$value};
  #{$attribute}: -moz-#{$value};
  #{$attribute}: -webkit-#{$value};
  #{$attribute}: $value;
}

html {
  width: 100%;
  scroll-behavior: smooth;

  // Responsiveness
  @media (max-width: 480px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    font-size: 10px;
  }

  @media (max-width: 900px) {
    font-size: 10px;
  }
}

body {
  width: 100%;

  font-family: 'GT-Super-Regular', 'Times', serif;
  font-size: $font-size;
  line-height: $line-height;

  color: $color;
  background-color: $background-color;
  overflow-x: hidden;
}

a {
  // color: $link-color;
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  text-decoration: underline;

  .chapter-title & {
    text-decoration: none;
  }
}
a:focus {
  text-decoration: none;
}

input,
button,
select,
textarea {
  @include vendor-prefix-attribute(text-size-adjust, none);
  @include vendor-prefix-attribute(border-radius, 0);
  @include vendor-prefix-attribute(appearance, none);
}

.wrapper {
  margin: auto;
  left: 0;
  right: 0;

  p,
  h3,
  h4,
  li,
  nav,
  .chapter-10 ul li {
    margin: auto;
    padding-left: $gutter-v;
    padding-right: $gutter-v;
    max-width: 900px;
  }

  nav {
    h1 {
      font-size: 2em;
    }
  }

  .intro {
    position: relative;
    width: 100%;
    height: 100vh;
    vertical-align: top;

    .title {
      text-align: center;
      font-family: 'GT-America-Extended-Black', 'Arial Black', sans-serif;
    }
    .thesis-title {
      position: absolute;
      top: -7.6vw;
      left: -0.6%;
      right: 0;

      font-size: 21vw;
      letter-spacing: -1vw;

      background-size: 100%;
      -webkit-text-stroke: 3px $color;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      background-image: url(../images/thesis-cover.jpg);
    }

    .thesis-subtitle {
      position: absolute;
      top: 18.5vw;
      left: -1vw;
      text-align: left;

      font-size: 2vw;
      color: $background-color;
      mix-blend-mode: exclusion;
    }

    .videoWrapper {
      width: 100vw;
      height: auto;
      // padding-bottom: 20%; /* 16:9 */ //TODO: is it a hack?
      background-color: $color;
    }
  }

  .menu {
    position: relative;
    padding: $gutter-h 0;

    z-index: 9999;

    h3 {
      display: inline-block;

      padding-left: 0;
      text-transform: uppercase;

      @media only screen and (max-width: 900px) {
        padding-left: $gutter-v;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    h4 {
      text-transform: uppercase;
      display: inline-block;
    }

    .chapters-list {
      position: absolute;
      display: none;
      width: 100%;

      @media only screen and (max-width: 900px) {
        padding: $gutter-thin-h 0;
      }

      background-color: $color;
      color: $background-color;
      border: 1px solid $color;
      box-sizing: border-box;

      li {
        padding-left: $gutter-thin-v;
        // border-bottom: 1px solid $background-color;
      }

      li:hover {
        background-color: $background-color;
        color: $color;
      }

      a:visited,
      a:link {
        color: inherit;
        text-decoration: none;
      }
      a:hover {
        cursor: pointer;
      }
    }
  }

  .container {
    overflow-x: hidden;

    .chapter {
      margin-bottom: $gutter-h;

      .chapter-title {
        margin-bottom: $gutter-thin-h;
        padding-left: $gutter-v;

        font-family: 'GT-America-Extended-Black', 'Arial Black', sans-serif;
        font-size: 10vw;
        line-height: $line-height * 0.66;
        text-transform: uppercase;

        @media only screen and (min-width: 900px) {
          font-size: $chapter-title-size;
        }

        background-size: 100%;
        -webkit-text-stroke: 2px $color;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text;

        a {
          color: $color;
        }
      }

      &.chapter-0 .title {
        background-image: url(../images/patterns/pattern0.jpg);
      }

      &.chapter-1 .title {
        background-image: url(../images/patterns/pattern1.jpg);
      }

      &.chapter-2 .title {
        background-image: url(../images/patterns/pattern2.jpg);
      }

      &.chapter-3 .title {
        background-image: url(../images/patterns/pattern3.jpg);
      }

      &.chapter-4 .title {
        background-image: url(../images/patterns/pattern4.jpg);
      }

      &.chapter-5 .title {
        background-image: url(../images/patterns/pattern5.jpg);
      }

      &.chapter-6 .title {
        background-image: url(../images/patterns/pattern6.jpg);
      }

      &.chapter-7 .title {
        background-image: url(../images/patterns/pattern7.jpg);
      }

      &.chapter-8 .title {
        background-image: url(../images/patterns/pattern8.jpg);
      }

      &.chapter-9 .title {
        background-image: url(../images/patterns/pattern8.jpg);
      }

      &.chapter-10 .title {
        background-image: url(../images/patterns/pattern9.jpg);
      }

      .imageWrapper {
        position: relative;
        padding-left: $gutter-v;
        padding-right: $gutter-v;
        margin-bottom: $gutter-h;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
      }

      .videoWrapper {
        position: relative;
        width: 100vw;
        height: auto;

        padding-bottom: 70%; /* 16:9 */ //TODO: is it a hack?
        margin-bottom: $gutter-h;
        background-color: $color;
      }

      .quote {
        margin-top: $gutter-h;
        margin-bottom: $gutter-h;

        font-family: 'GT-Super-Italic';
      }

      .list {
        margin-top: $gutter-thin-h;
        margin-bottom: $gutter-thin-h;

        padding-left: $indent * 2;

        @media only screen and (max-width: 1100px) {
          padding-left: $indent;
          text-indent: 0;
        }

        .note-num {
          position: absolute;
          text-indent: -$gutter-v;
          color: $color;
        }
      }

      .list-break {
        margin-top: $gutter-thin-h;
        margin-bottom: $gutter-thin-h;
      }

      .subtitle {
        font-size: $font-size * 1.5;
        margin-top: $gutter-h;
        margin-bottom: $gutter-thin-h;
      }

      figure {
        margin-bottom: $gutter-h;
      }

      a {
        color: $link-color;
      }
    }

    .chapter-10,
    footer {
      li {
        padding-left: $gutter-v * 2 + $indent;
        // calc((100vw - 900px) / 2);
        text-indent: -$gutter-v;
      }

      .endnotes li {
        text-indent: 0;

        .note-num {
          position: absolute;
          text-indent: -$gutter-v;
          color: $link-color;
        }
      }

      .image-sources li {
        padding-left: $gutter-v * 3 + $indent;
        text-indent: 0;

        .note-num {
          position: absolute;
          text-indent: -$gutter-v * 1.5;
          color: $color;
        }
      }

      @media only screen and (max-width: 1100px) {
        li {
          padding-left: $gutter-v + $indent;
          text-indent: -$indent;
        }

        .endnotes li {
          text-indent: 0;

          .note-num {
            color: $link-color;
          }
        }

        .image-sources li {
          padding-left: $gutter-v + $indent * 1.5;
          text-indent: 0;

          .note-num {
            color: $color;
          }
        }
      }

      // .note-num {
      //   position: absolute;
      //   left: $gutter-v;
      // }
    }

    footer {
      margin-bottom: $gutter-h;
    }

    #return-btn {
      position: fixed;
      padding: $gutter-h $gutter-v;
      right: 0;
      bottom: 0;

      font-size: $font-size * 2;
      opacity: 0;
      transition: opacity 0.2s $easing;
    }
  }

  // General styling for the container

  img {
    width: 100%;
    background-color: $color;
  }

  iframe {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color;
  }

  sup {
    margin-left: -0.1ch;
    vertical-align: super;
    font-size: $font-size / 1.4;
    font-variant-numeric: lining-nums;
  }

  // =-=-=-=-=-=-=-=-=-=-=
  // Padding & Indentation
  // =-=-=-=-=-=-=-=-=-=-=

  .videoWrapper + figcaption {
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter-v;
    padding-right: $gutter-v;
    max-width: 900px;
  }

  figure + figcaption {
    margin-top: -$gutter-h;
  }

  em {
    // font-style: italic;
    font-family: 'GT-Super-Italic';
  }

  span {
    color: $link-color;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  p {
    text-indent: $indent;
    &:first-of-type {
      text-indent: 0;
    }
  }

  p + figure {
    margin-top: $gutter-thin-h;
  }

  figcaption {
    margin-bottom: $gutter-h;
    font-family: 'GT America', Arial, Helvetica, sans-serif;
  }

  .quote + p,
  figure + p,
  br + p,
  p + .quote,
  .subtitle + p,
  figcaption + p,
  .list + p {
    text-indent: 0;
  }
}
