@charset "UTF-8";
/* ••••••••••••••••••••••••••••••••
© 2019-now Nedislav Kamburov
All rights reserved
www.nedkamburov.com
•••••••••••••••••••••••••••••••• */
html {
  width: 100%;
}

@media screen and (min-width: 0), (min-height: 0px) {
  html {
    font-size: 10px;
  }
}

body {
  width: 100%;
  font-family: 'Font Regular', Helvetica, Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
}

input,
button,
select,
textarea {
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  border-radius: 0;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

nav h1 {
  font-size: 2em;
}

.wrapper {
  padding: 2.8rem 3.92rem;
  margin: auto;
  left: 0;
  right: 0;
  height: 4000px;
}

@media screen {
  .wrapper {
    max-width: 900px;
  }
}

.wrapper .menu {
  padding-bottom: 2.8rem;
}

.wrapper .menu .chapters-list li {
  display: inline-block;
  margin-right: 1em;
}

.wrapper .menu .chapters-list li:last-child {
  margin-right: 0;
}

.wrapper .container {
  padding-bottom: 2.8rem;
}

.wrapper .container .chapter .chapter-title {
  margin-top: 2.8rem;
  margin-bottom: 1.4rem;
  font-size: 2em;
  font-family: cursive;
  line-height: 1.12;
}

.wrapper .container .chapter .visual-content {
  display: none;
}

.wrapper .container .title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper .container #return-btn {
  position: fixed;
  padding: 2.8rem 3.92rem;
  right: 0;
  bottom: 0;
  font-size: 4rem;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.wrapper .container img {
  width: 100%;
  background-color: #000;
}

.wrapper .container iframe {
  width: 100%;
  height: 30vh;
  background-color: #000;
}

.wrapper .container span {
  color: blue;
}

.wrapper .container span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wrapper .container p {
  text-indent: 3.92rem;
}

.wrapper .container p:first-of-type {
  text-indent: 0;
}
